streamlit
requests
sentence-transformers
tavily-python
llama-index
llama-index-llms-openai
llama-index-embeddings-huggingface
pymilvus==2.5.11
grpcio==1.67.1
protobuf>=3.20.0
python-dotenv
ujson
pandas
tqdm
numpy
python-dateutil
pytz
tzdata
six
fastapi
uvicorn
pydantic