# milvus-setup/requirements.txt
milvus-lite==2.4.12 # ADD THIS LINE
pymilvus==2.5.11
sentence-transformers
tqdm
numpy
pandas
python-dotenv
ujson
grpcio==1.67.1
protobuf>=3.20.0
python-dateutil
pytz
tzdata
six